body {
    font-family: Arial, sans-serif;
  }
  
  .App {
    text-align: center;
    padding: 20px;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  input {
    margin-right: 10px;
  }
  
  button {
    margin-top: 10px;
  }

  table {
    text-align: center;
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    text-align: center;
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  th {
    text-align: center;
    background-color: #f2f2f2;
  }
  
  
